{% extends "partition/layout.html" %}


{% block body %}

		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid">
				<!-- Title -->
				<section class="content-header">
				    <h1>Game Table</h1>
				    <ol class="breadcrumb">
				        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				        <li class="active" href="#">Game History</li>
				        <li class="active" href="#">{{gameName}}</li>
				        <li class="active" href="#">{{gameType}}</li>
				    </ol>
				</section>
				<!-- /Title -->
				{% include "partition/notification.html" %}
				<!-- Row -->
				<section class="content">
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">Players</h6>
									</div>

									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">

									<!-- <div class="input-group input-daterange">

									     <input type="text" id="min-date" class="employee-search-input  form-control datepicker" data-date-format="yyyy-mm-dd" placeholder="From:">

									     <div class="input-group-addon">to</div>

									     <input type="text" id="max-date" class="form-control date-range-filter" data-date-format="yyyy-mm-dd" placeholder="To:">

									</div> -->

									<div class="panel-body">
										<div class="table-wrap">
											<div class="table-responsive">
												<table id="myTable" class="table table-bordered table-striped" >
													<thead>
														<tr>
															<th>Id</th>
															<th>Game Name</th>
															<th>Game Type</th>
															<th>Total Players</th>
															<th>STATUS</th>
															<th>Date</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>



{% endblock %}

{% block Jscript %}
<script>

$(document).ready( function () {

	var host = window.location.origin;

	var dataTable=$('#myTable').DataTable({
		"oLanguage": {
			"sSearch": "Search Game"
		},
		// "scrollX": true,
		"processing": true,
		"serverSide": true,
		// "searching": false,
		"ordering": false,
		"autoWidth": false,
		"aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
		"iDisplayLength": 100,
		"ajax": host + "/game-data/{{gameName}}/{{gameType}}",
		"columns": [
			// { "data": "_id" },
			{ "data": "gameNumber" },
			{ "data": "type" },
			{ "data": "gameType" },
			{
				"data": "players",
				render:function(data, type, row){
					return row.players.length;
				}
			},
			{ "data": "status" },
			{ "data": "createdAt",

				render: function(data,type,row){
				  let dt = new Date(row.createdAt);
			      let date = dt.getDate();
			      let month = parseInt(dt.getMonth()+1);
			      let year = dt.getFullYear();
			      let hours = dt.getHours();
			      let minutes = dt.getMinutes();
			      let ampm = hours >= 12 ? 'pm' : 'am';
			      hours = hours % 12;
			      hours = hours ? hours : 12;
			      minutes = minutes < 10 ? '0'+ minutes : minutes;
			      let createdAt = year + '/' + month + '/' + date + ' ' + hours + ':' + minutes + ' ' + ampm;
			      return createdAt;
			 	}
			 },


			{
				"data": "action",
				render : function(data, type, row){
					return '<a href="/game/history/particularGameHistory/'+row._id+'" class="btn btn-info btn-xs btn-rounded" title="Game History"><i class="fa fa-history" aria-hidden="true"></i></a>'
				}
			}
		]
	});



	/*$('.employee-search-input').on( 'keyup click change', function () {
	    var i =$(this).attr('id');  // getting column index

	    var v =$(this).val();  // getting search input value
	     dataTable.columns(i).search(v).draw() ;
	} );

	$( ".datepicker" ).datepicker({
	    dateFormat: "yy/mm/dd",
	    showOn: "button",
	    showAnim: 'slideDown',
	    showButtonPanel: true ,
	    autoSize: true,
	    buttonImage: "//jqueryui.com/resources/demos/datepicker/images/calendar.gif",
	    buttonImageOnly: true,
	    buttonText: "Select date",
	    closeText: "Clear"
	});

	$(document).on("click", ".ui-datepicker-close", function(){alert("here");
	    $('.datepicker').val("");
	    dataTable.columns(5).search("").draw();
	});*/




} );




</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
{% endblock %}
