{% extends "partition/layout.html" %}


{% block body %}

		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid">
				<!-- Title -->
				<section class="content-header">
				    <h1>Player Table</h1>
				    <ol class="breadcrumb">
				        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				        <li class="active" href="/player">Player</li>
				    </ol>
				</section>
				<!-- /Title -->
				{% include "partition/notification.html" %}
				<!-- Row -->
				<section class="content">
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">Players</h6>
									</div>
									<div class="pull-right">
									<a href="/addPlayer"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i> Add Player</button></a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="table-wrap">
											<div class="table-responsive">
												<table id="myTable" class="table table-bordered table-striped">
													<thead>
														<tr>
															<th>Username</th>
															<th>Email</th>
															<th>Mobile</th>
															<th>KYC Done</th>
															<th>Chips</th>
															<th>Cash</th>
															<th>Reward Point</th>
															 
															<th>TDS Amount</th>
															<th>Status</th>
															<!-- <th width="20%">is Bot</th> -->
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<section class="content">
			<!-- Row -->
			<div class="row">
					<!-- /.modal -->
					<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
							<form method="POST" name="adduser" action="/player/chipsAdd">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h5 class="modal-title">Add/Deduct Chips </h5>
								</div>
								<div class="modal-body">
								<div id="chipsAdd"> </div>
										<div class="form-group">
											<label for="chips" class="control-label mb-10">Chips:</label>
											<input type="text" name="chips" class="form-control" id="chips" value="0" required>
										</div>

										<!-- <div class="form-group">
											<label for="cash" class="control-label mb-10">Cash:(Only Add)</label>
											<input type="text" name="cash" class="form-control" id="cash" value="0" required>
										</div> -->

								</div>
								<div class="modal-footer">
									<input type="submit" name="chipsValue" class="btn btn-success" value="Add">
									<input type="submit" class="btn btn-danger" name="chipsValue" value="Deduct">
								</div>
							</form>
							</div>
						</div>
					</div>
					<!-- Button trigger modal -->

					<div id="responsive-modalCash" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabelCash" aria-hidden="true" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
							<form method="POST" name="adduser" action="/player/cashAdd">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h5 class="modal-title">Add Cash </h5>
								</div>
								<div class="modal-body">
								<div id="cashAdd"> </div>
										<div class="form-group">
											<label for="chips" class="control-label mb-10">Cash Amount:</label>
											<input type="text" name="cash" class="form-control" id="cash" value="0" required>
										</div>

										<div class="form-group">
											<label for="cash" class="control-label mb-10">Lock Cash</label>
											<input type="text" name="lockCash" class="form-control" id="lockCash" value="0" required>
										</div>

								</div>
								<div class="modal-footer">
									<input type="submit" name="chipsValue" class="btn btn-success" value="Add">
								</div>
							</form>
							</div>
						</div>
					</div>

			</div>
			<!-- /Row -->
		</section>
		<!-- Lock Cash-->
		<section class="content">
			<!-- Row -->
			<div class="row">
					<!-- /.modal -->
					<div id="responsive-modal-lock" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
							<form method="POST" name="addlockcash" action="#">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h5 class="modal-title">Add Lock Cash </h5>
								</div>
								<div class="modal-body">
								<div id="chipsAdd"> </div>
										<div class="form-group">
											<label for="chips" class="control-label mb-10">Lock Cash:</label>
											<input type="text" name="chips" class="form-control" id="chips" value="0" required>
										</div>
								</div>
								<div class="modal-footer">
									<input type="submit" name="chipsValue" class="btn btn-success" value="Add">
								</div>
							</form>
							</div>
						</div>
					</div>
					<!-- Button trigger modal -->
			</div>
			<!-- /Row -->
		</section>
<!--Lock Cash-->

{% endblock %}

{% block Jscript %}
<!--<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<!-- <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script>

$(document).ready( function () {
	var host = window.location.origin;
	$('#myTable').DataTable({
    "dom": 'lBfrtip',
    "buttons": [
      'copy', 'csv', 'excel', 'pdf', 'print'
    ],

		"oLanguage": {
			"sSearch": "Search Username or Email or Mobile : ",
		},
		// "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		// "scrollX": true,
		"processing": true,
		"serverSide": true,
		"searching": true,
		"ordering": false,
		"autoWidth": true,
		"aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
		"iDisplayLength": 100,
		"ajax": host + "/player/getPlayer",
		// "buttons": ['csv','print', 'excel', 'pdf'],

		"columns": [
			// { "data": "_id" },
			{ "data": "username" },
			{ "data": "email" },
			{ "data": "mobile" },
			{ "data": "kycDone" },
			{ "data": "chips" },
			{ "data": "cash" },
			{ "data": "rewardPoint"},
			{ "data": "tdsAmount"},
			{ "data": "status" },
			// { "data": "isBot" },
			// {
   //            "data": "isBot",
   //          render : function(data, type, row){
   //            return data?'<div class="text-center"><b>Yes</b><br>('+row.botStatus+')</div>':'<div class="text-center">No</div>'
   //          }
   //        },
			// { "data": "email" },
			// {
			// 	"data": "image",
			// 	render : function(data, type, row){
			// 		return '<img height="100px" src="'+row.image+'"></img>'
			// 	}
			// },


			{
				"data": "action",
				render : function(data, type, row){
					return '<a href="/playerEdit/'+row._id+'"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit" title="Edit Player"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" title="Delete Player" name="delete" id="'+row._id+'" class="btn btn-danger btn-xs btn-rounded delete"><i class="fa fa-trash" aria-hidden="true"></i></button> <a data-toggle="modal" data-target="#responsive-modal" class="btn btn-default btn-xs addChips btn-rounded" id="'+row._id+'" title="Add Chips"><i class="fa fa-dollar" aria-hidden="true"></i></a>  \
					<a data-toggle="modal" data-target="#responsive-modalCash" class="btn btn-default btn-xs addCash btn-rounded" id="'+row._id+'" title="Add Cash"><i class="fa fa-viacoin" aria-hidden="true"></i></a>\
					<a href="player/chipsHistory/'+row._id+'" class="btn btn-info btn-xs btn-rounded" title="Chips History"><i class="fa fa-history" aria-hidden="true"></i></a><a href="player/cashHistory/'+row._id+'" class="btn btn-info btn-xs btn-rounded" title="Cash History"><i class="fa fa-money" aria-hidden="true"></i></a> <a href="player/loginHistory/'+row._id+'" class="btn btn-info btn-xs btn-rounded" title="Login History"><i class="fa fa-sign-in" aria-hidden="true"></i></a> <button type="button" name="active" id="'+row._id+'" class="btn btn-success btn-xs playerActive btn-rounded">'+row.status+'</i></button>'
					// return '<a href="/userEdit/'+row._id+'"><button type="button" class="btn btn-warning btn-xs" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" name="delete" id="'+row._id+'" class="btn btn-danger btn-xs delete"><i class="fa fa-trash" aria-hidden="true"></i></button> '
				}
			}
		]
	});


	$(function() {
		"use strict";

		var SweetAlert = function() {};

		SweetAlert.prototype.init = function() {

			//Parameter
			$('body').on('click', '.delete', function(e){
				var id = $(this).attr('id');
				var thisElement = this;
					swal({
							title: "Are you sure?",
							text: "You will not be able to recover this Player!",
							type: "warning",
							showCancelButton: true,
							confirmButtonColor: "#e69a2a",
							confirmButtonText: "Yes, delete it!",
							cancelButtonText: "No, cancel plx!",
							closeOnConfirm: false,
							closeOnCancel: false
					}, function(isConfirm){
							if (isConfirm) {
								$.ajax({
									type: 'POST',
									url: host + "/player/getPlayerDelete",
									data: {id: id},
									success: function(resultData) {
										// alert(resultData)
										console.log(resultData);
										if (resultData == 'success') {
											$(thisElement).parent().parent().hide(700);
											swal("Deleted!", "Your imaginary file has been deleted.", "success");
										}else {
												alert("Something went wrong")
										}
										// alert("Save Complete")
									}
								});
									swal("Deleted!", "Player Deleted Succesfully.", "success");
							} else {
									swal("Cancelled", "Player Not Deleted)", "error");
							}
					});
					return false;
			});

			// Active & Deactive

			$('body').on('click', '.playerActive', function(e){
					var id = $(this).attr('id');
					var thisElement = this;
						swal({
								title: "Are you sure?",
								text: "Do you want to update the status?",
								type: "warning",
								showCancelButton: true,
								confirmButtonColor: "#e69a2a",
								confirmButtonText: "Yes, Update it!",
								cancelButtonText: "No, cancel pls!",
								closeOnConfirm: false,
								closeOnCancel: false
						}, function(isConfirm){
								if (isConfirm) {
									$.ajax({
										type: 'POST',
										url: host + "/player/active",
										data: {id: id},
										success: function(resultData , data) {
											console.log(data);
											if (resultData == 'success') {
												location.reload();
												//$(thisElement).parent().parent().hide(700);
												//swal("Update!", "Player Status Updated Successfully..", "success");
											}else {
													alert("Something went wrong")
											}

										}
									});
										swal("Success!", "Player Status Updated Succesfully.", "success");
								} else {
										swal("Cancelled", "Player Status not Updated)", "error");
								}
						});
						return false;
			});

		},
		$.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

		$.SweetAlert.init();
	});

	$("body").on("click", ".addChips", function(){
		var PlayerId = $(this).attr("id");
		// console.log("player id ----------->",PlayerId)
		var html = '<input type="hidden" name="playerId" value="'+PlayerId+'" />';
		$("#chipsAdd").html(html);
	});

	$("body").on("click", ".addCash", function(){
		var PlayerId = $(this).attr("id");
		// console.log("player id ----------->",PlayerId)
		var html = '<input type="hidden" name="playerId" value="'+PlayerId+'" />';
		$("#cashAdd").html(html);
	});

} );

</script>
{% endblock %}
