<!DOCTYPE html>
<html lang="en">
{% include "other/header.html" %}
<body>
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 m-s">
					<h2 class="page-title">Change Email Address</h2>

					<div class="profiles">

						<div class="row">
							<div class="col-lg-12">
								<form class="form-horizontal" action="/other/changeEmail" method="post">
									<input type="hidden" name="oldEmail" id="oldEmail" value="sXXXXXXXXXXX1@gXXXX.com">
									<input type="hidden" name="userId" class="userId" id="userId" value="10338255">

									<input type="hidden" name="sync-token" class="sync-token" id="sync-token" value="a58bd5d7-9097-4b59-819d-598cba20c5b0">

									<input type="hidden" name="error" id="error" value="">
									<input type="hidden" name="overlay" class="overlayJourney" id="overlayJourney" value="false">
									<input type="hidden" name="id" value="{{data._id}}">
									<div class="form-group"> <span class="col-lg-4 col-sm-4 old-label-des ">Old Email Address :</span> <span id="oldEmailSpan" class="oldEmailSpan">{{data.email}}</span> </div>
									<div class="form-group">
										<label class="col-lg-4 col-sm-4 control-label"> New Email Address :</label>
										<div class="col-lg-4 col-sm-5">
											<input class="form-control" type="email" id="email" data-validation="email" name="email"> </div>
											<div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-4 error-text"></div>
										</div>
										<div class="form-group">
											<label class="col-lg-4 col-sm-4 control-label"> Confirm Email Address :</label>
											<div class="col-lg-4 col-sm-5">
												<input class="form-control" type="email" id="con_email" data-validation="email"> </div>
												<div id="errormessage" style="color: #ff0000;"></div>
												<div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-4 error-text"></div>
											</div>



											<div class="form-group">
												<div class="col-lg-8 col-lg-offset-4 col-sm-8 col-sm-offset-4 ">
													<button type="submit" class="btn_primery" id="" onclick="changeEmail.validatepasswordandsubmitform('true')">Submit</button>

												</div>
											</div>


										</form>
										<div class="col-lg-12 text-left"> <b> Note:</b> Once you click submit, you can login using your new email address or your username. </div>
									</div>
									<div class="form-group">
										<div class="col-lg-12">
											<div id="success-message" class="alert alert-success" style="display: none;"> <img src="http://rcmg.in/fusion/images/id_verification_icon_successful.png" width="16" alt="" class="alert-leftimg"> <span class="alert-con">Your email address has been changed.</span> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="m-s">
				<a href="/other/profile/{{data._id}}"><i class="fa fa-angle-left" aria-hidden="true"></i>
					Back</a>
				</div>
				<!-- /#wrapper -->
				{% include "other/footer.html" %}
				<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
				{% block Jscript %}
				<script>

					$.validate({
						modules : 'security',

					});

					$(document).ready(function() {
						$("#con_email").blur(function(){
							var email = $("#email").val();
							var co_email = $("#con_email").val();
							if(email == co_email){
								// alert("hello");
								$("#errormessage").hide();
							}else{
							 $("#errormessage").text('Email id is not match');
							}
						});
					});
				</script>
				{% endblock %}
			</body>

			</html>
