{% extends "partition/layout.html" %}


{% block body %}


<!-- Main Content -->
<div class="page-wrapper">
	<div class="container-fluid">

		<!-- Breadcrumb -->
		<section class="content-header">
		    <h1>Settings Table</h1>
		    <ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		        <li class="active">Game Settings Points 21</li>
		    </ol>
		</section>
		<!-- /Breadcrumb -->

	</div>
		<!-- /Title -->
		{% include "partition/notification.html" %}
		<!-- Row -->

		<section class="content">
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default card-view">

								<div class="row">

									<div class="col-md-12">
										<div class="panel panel-default card-view">
											<div class="panel-heading">
												<div class="pull-left">
													<h6 class="panel-title txt-dark">Points 21</h6>
												</div>
												<div class="clearfix"></div>
											</div>

											<div class="col-md-6 panel-wrapper collapse in">
												<div class="panel-body">
													<div class="row">
														<div class="col-sm-12 col-xs-12">
															<div class="form-wrap">
																<form method="POST" action="/game/settings/addPointsTwentyOneGameSettings" class="form-horizontal">
																	<div class="form-group">
																		<label class="control-label mb-10 col-sm-2" for="pointValue">Points:</label>
																		<div class="col-sm-6">
																			<input type="text" class="form-control" id="points" placeholder="Enter Points" required data-validation="number" data-validation-allowing="float" name="points" value="{{gameSettings.points}}">
																		</div>
																	</div>
																	<div class="form-group">
																	    <label class="control-label mb-10 col-sm-2" for="selectPlayers">Select Players</label>
																	    <div class="col-sm-6">
																	    	<select class="form-control" id="selectPlayers" name="selectPlayers" data-validation="required">
																	    	  <option>2</option>
																	    	  <option>5</option>
																	    	</select>
																	    </div>
																	</div>
																	<div class="form-group">
																		<label class="control-label mb-10 col-sm-2" for="pointValue">Rack Percentage:</label>
																		<div class="col-sm-6">
																			<input type="text" class="form-control" id="rack" placeholder="Enter Rack Percentage" required data-validation="number" name="rack" value="10">
																		</div>
																	</div>
																	<div class="form-group mb-0">
																		<div class="col-sm-offset-3 col-sm-9">
																			<button type="submit" class="btn btn-success ">Save</button>
																		</div>
																	</div>
																</form>

															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="panel-wrapper collapse in">
													<div class="panel-body">
														<div class="table-wrap">
															<div class="table-responsive">
																<table id="pointsTwentyOneTable" class="table table-bordered table-striped" >
																	<thead>
																		<tr>
																			<th>NO.</th>
																			<th>Points</th>
																			<th>players</th>
																			<th>Rack %</th>
																			<th>Action</th>
																		</tr>
																	</thead>
																	<tbody>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</section>

{% endblock %}

{% block Jscript %}
	<script>

		$(document).ready( function () {
			var host = window.location.origin;
			var PointsTwentyOne = $('#pointsTwentyOneTable').DataTable({
				"processing": true,
				"serverSide": true,
				"searching": false,
				"ordering": false,
				"autoWidth": false,
				"pageLength": 10,
				"order": [[ 1, 'asc' ]],
				"ajax": host + "/game/settings/getPointsTwentyOneGameSettings",
				"columns": [
					{ "data": null },
					{ "data": "points" },
					{ "data": "players" },
					{ "data": "rack" },
					{
						"data": "action",
						render : function(data, type, row){
							return '<button type="button" name="delete" id="'+row._id+'" class="btn btn-danger btn-xs delete"><i class="fa fa-trash" aria-hidden="true"></i></button> '
						}
					}

				]
			});
			PointsTwentyOne.on('draw.dt', function () {
			    var info = PointsTwentyOne.page.info();
			    PointsTwentyOne.column(0, { search: 'applied', order: 'applied', page: 'applied' }).nodes().each(function (cell, i) {
			        cell.innerHTML = i + 1 + info.start;
			    });
			});


		} );

		$(function() {
			"use strict";

			var SweetAlert = function() {};

			SweetAlert.prototype.init = function() {

				//Parameter
				$('body').on('click', '.delete', function(e){
					var host = window.location.origin;
					var id = $(this).attr('id');
					var thisElement = this;
						swal({
								title: "Are you sure?",
								text: "You will not be able to recover this Setting!",
								type: "warning",
								showCancelButton: true,
								confirmButtonColor: "#e69a2a",
								confirmButtonText: "Yes, delete it!",
								cancelButtonText: "No, cancel plx!",
								closeOnConfirm: false,
								closeOnCancel: false
						}, function(isConfirm){
								if (isConfirm) {
									$.ajax({
										type: 'POST',
										url: host + "/game/settings/deleteGameSettings",
										data: {id: id},
										success: function(resultData) {
											// alert(resultData)
											console.log(resultData);
											if (resultData == 'success') {
												$(thisElement).parent().parent().hide(700);
												swal("Deleted!", "Your imaginary file has been deleted.", "success");
											}else {
													alert("Something went wrong")
											}
											// alert("Save Complete")
										}
									});
										swal("Deleted!", "Setting Deleted Succesfully.", "success");
										location.reload();
								} else {
										swal("Cancelled", "Setting Not Deleted)", "error");
								}
						});
						return false;
				});

			},
			$.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

			$.SweetAlert.init();
		});
	</script>
{% endblock %}
