{% extends "partition/layout.html" %}


{% block body %}


<!-- Main Content -->
<div class="page-wrapper">
	<div class="container-fluid">
		<section class="content-header">
		    <h1>Offers table </h1>
		    <ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		        <li><a href="/offers"><i class="fa fa-user"></i> Offers</a>  </li>
		        <!-- <li class="active"> Add Offers</li> -->
		        {% if offer %}
		        <li class="active">Edit Offers</li>
		        {% else %}
		        <li class="active">Add Offers</li>
		        {% endif %}
		    </ol>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default card-view">
						<div class="panel-heading">
							<div class="pull-left">
								{% if offer %}
								<h6 class="panel-title txt-dark">Edit Offers</h6>
								{% else %}
								<h6 class="panel-title txt-dark">Add Offers</h6>
								{% endif %}
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">
								<div class="table-wrap">
									<div class="table-responsive">
										<!-- <form method="POST" action="/addOffers" name="adduser" class="form-horizontal" enctype="multipart/form-data"> -->
										{% if offer %}
										<form method="POST" action="/offerEdit/{{offer._id}}" name="adduser" class="form-horizontal" enctype="multipart/form-data">
										{% else %}
										<form method="POST" action="/addOffers" name="adduser" class="form-horizontal" enctype="multipart/form-data">
										{% endif %}
											<table border="0" class="table display  pb-30">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<div class="panel-wrapper collapse in">
														<div class="panel-body">
															<div class="form-group">
																<label class="control-label mb-10 col-sm-2" for="username">Title:</label>
																<div class="col-sm-10">
																	<input type="text" class="form-control" id="title" placeholder="Enter title" required name="title" value="{{offer.title}}">
																</div>
															</div>
															<div class="form-group">
																<label class="control-label mb-10 col-sm-2" for="pwd_hr">Offer Image:</label>
																<div class="col-sm-10"> 
																	<input type="file" class="form-control" id="name" name="name">
																</div>
																<div class="col-sm-10" style="margin-top: 10px;">
																	<img style="height: 100px;width: 300px;" src="/other/offers/{{offer.name}}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label mb-10 col-sm-2" for="username">Term & Conditions:</label>
																<div class="col-sm-10">
																	<input type="text" class="form-control" id="terms" placeholder="Enter terms" required name="terms" value="{{offer.terms}}">
																</div>
															</div>
														</div>
													</div>
												</div>
												<tr>
													<td colspan="2">
														<input type="submit" class="btn btn-success btn-lg" value="submit">
														<a href="/offers" class="btn btn-info btn-lg">Cancel</a>
													</td>
												</tr>
											</table>
										</form>		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>		
	</div>
</div>	

{% endblock %}

{% block Jscript %}
<script>
	$(document).ready( function () {
		var host = window.location.origin;
	} );
</script>
{% endblock %}
